<h3><a class="btn btn-warning" href="/hotdogs"><i class="fa fa-plus"></i> Create New</a> Hot dog list</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Length, cm</th>
            <th>Weight, g</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Title}}</td>
            <td>{{this.Length}}</td>
            <td>{{this.Weight}}</td>
            <td>
                <a href="/hotdogs/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/hotdogs/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>